In [1]:
import pandas as pd
import spacy
from tqdm import tqdm_notebook

tqdm_notebook().pandas()

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [2]:
news = pd.read_json('../input/news-category-dataset/News_Category_Dataset_v2.json', lines=True)
news.head()

           authors                        ...                                                          short_description
0  Melissa Jeltsen                        ...                          She left her husband. He killed their children...
1    Andy McDonald                        ...                                                   Of course it has a song.
2       Ron Dicker                        ...                          The actor and his longtime girlfriend Anna Ebe...
3       Ron Dicker                        ...                          The actor gives Dems an ass-kicking for not fi...
4       Ron Dicker                        ...                          The "Dietland" actress said using the bags is ...

[5 rows x 6 columns]

In [3]:
news['text'] = news[['headline', 'short_description']].apply(lambda x: ' '.join(x), axis=1)
nlp = spacy.load('en_core_web_sm')
news['text'] = news['text'].progress_apply(nlp)

HBox(children=(IntProgress(value=0, max=200853), HTML(value='')))

In [4]:
news['text'] = news['text'].progress_apply(
    lambda x: ' '.join(['<NUM>' if str(y).isdigit() else y.lemma_ for y in x if not y.is_stop]))

HBox(children=(IntProgress(value=0, max=200853), HTML(value='')))

In [5]:
news = news[['text', 'category']]
news.head()

                                                text       category
0  <NUM> Mass Shootings Texas Week , <NUM> tv lea...          CRIME
1  Smith join Diplo Nicky Jam <NUM> World Cup Off...  ENTERTAINMENT
2  Hugh Grant Marries Time Age <NUM> actor longti...  ENTERTAINMENT
3  Jim Carrey Blasts ' Castrato ' Adam Schiff Dem...  ENTERTAINMENT
4  Julianna Margulies Uses Donald Trump Poop Bags...  ENTERTAINMENT

In [6]:
news.to_pickle('data.pkl')